<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<div class="fixed-bottom">
    <svg viewBox="0 -225 1440 200" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <path id="sineWave" fill="#0099ff" fill-opacity="0.2"
                  d="M0-160C320-300 420-300 740-160 1060-20 1120-20 1440-160V0H0"></path>
            <path id="sineWave2" fill="#0099ff" fill-opacity="0.2"
                  d="M0-160C320-250 420-250 740-160 1060-80 1120-80 1440-160V0H0"></path>
        </defs>
        <use class="wave" href="#sineWave2"></use>
        <use class="wave" x="-100%" href="#sineWave2"></use>
        <use class="wave1" href="#sineWave2"></use>
        <use class="wave1" x="-100%" href="#sineWave2"></use>
        <use class="wave2" href="#sineWave2"></use>
        <use class="wave2" x="-100%" href="#sineWave2"></use>
    </svg>
    <footer class="py-3 my-4 fixed-bottom container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li><a href="/" class="nav-link px-2 text-muted"><i class="bi bi-house-fill m-1"></i>Início</a></li>
            <li><a class="nav-link px-2 text-muted" href="/support"><i class="bi bi-info-square m-1"></i>Atendimento</a>
            </li>
            <li><a class="nav-link px-2 text-muted" href="/tickets"><i class="bi bi-ticket m-1"></i>Tickets</a></li>
            <li><a class="nav-link px-2 text-muted" href="/faq"><i class="bi bi-question-square m-1"></i>FAQ</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Helpdesk, Inc</p>
    </footer>
</div>
</body>
</html>