<!DOCTYPE html>
<html>
<!--<link rel="stylesheet" href="./assets/css/style.css">-->
<body>
<!--    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>-->
    <footer class="navbar-inverse navbar-fixed-bottom text-center">
        <a class="navbar-text" style="text-decoration: none" href="/">© 2022 Helpdesk, Inc.</a>
    </footer>
</body>
</html>

<!--style="background-color: rgba(34,34,34,1.0)"-->
<!--color: rgba(157,157,157,1.0)-->
<!--<div class="text-center container">Copyright © 2022 ArchitectUI</div>-->