<!DOCTYPE html>
<html>
<head>
    <title>Helpdesk</title>
</head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script type="text/javascript" src="/js/messenger/messenger.js"></script>
<!--<script type="text/javascript"></script>-->

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Helpdesk</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Atendimento</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Iniciar Sessão</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Inverted Navbar</h3>
        <p>An inverted navbar is black instead of gray.</p>
    </div>
</body>
</html>