<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<header class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom sticky-top"
        style="background: white">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="https://cdn4.iconfinder.com/data/icons/male-user/100/30-1User_2-512.png"
             style="width: 40px;max-height: 40px">Helpdesk
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary"><i class="bi bi-house-fill m-2"></i>Início</a></li>
        <li><a href="/support" class="nav-link px-2 link-secondary"><i class="bi bi-info-square m-2"></i>Atendimento</a>
        </li>
        <li><a href="/tickets" class="nav-link px-2 link-secondary"><i class="bi bi-ticket m-2"></i>Tickets</a></li>
        <li><a href="/faq" class="nav-link px-2 link-secondary"><i class="bi bi-question-square m-2"></i>FAQs</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" onclick="window.location.href='/login'">Login
        </button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/register'">Registo</button>
    </div>
</header>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>