<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center center">
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location.href='/newTicket'">Criar
        Ticket
    </button>
    <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/checkTicket'">
        Verificar Ticket
    </button>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>