<!DOCTYPE html>
<html>
<body>
<%- include('./partials/header.ejs') %>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Utilizador</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>