<!DOCTYPE html>
<html>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
        <h1>Bem-vindo ao HelpDesk!</h1>
        <p style="text-align: justify">Lorem ipsum dolor sit amet. Ea pariatur voluptatem 33 debitis non iste velit est
            dolorum nihil ut quia ratione quo nisi facere. Qui accusantium maxime est aperiam modi sit sequi doloribus
            non sint velit qui enim enim est laboriosam officiis! Et dolorem iste ut voluptatum corporis est debitis
            facilis est dolor doloribus et consequatur temporibus hic eligendi dolorem ea mollitia placeat.</p>
        <h3>Contactos</h3>
        <p><i class="bi bi-telephone"></i> +351 961 666 333</p>
        <p><i class="bi bi-envelope"></i> grupo6@dbw.uma.pt</p>
        <p><i class="bi bi-geo-alt"></i> Universidade da Madeira</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>