<!DOCTYPE html>
<html>
<body>
<%- include('./partials/header.ejs') %>
<div class="container">
    <h1>Crie o seu ticket</h1>
    <form action="/newTicket" method="POST">
        <input class="form-control input-lg my-2" name="title" placeholder="Inserir título...">
        <textarea class="form-control input-lg my-2" name="description" placeholder="Inserir descrição..."></textarea>
        <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon">@</div>
            <input type="text" class="form-control" placeholder="Inserir e-mail...">
        </div>
        <button class="btn btn-lg my-3" style="border: solid" type="submit" onclick="window.location.href='/tickets'">
            Criar Ticket
        </button>
    </form>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>