<!DOCTYPE html>
<html>
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="well center" style="width: 400px">
        <button type="button" class="btn btn-primary btn-lg btn-block">Criar Ticket</button>
        <button type="button" class="btn btn-default btn-lg btn-block">Verificar Ticket</button>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>