<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<div class="well center" style="width: 25%">
    <div class="container">
        <div class="tab-panel hidden-before-binding" style="display: block;">
            <form method="POST" action="/login">
                <div class="form-group">
                    <p>Utilizador</p>
                    <input autofocus="" type="text" class="form-control input-lg"><br>
                    <p>Palavra-passe</p>
                    <input type="password" class="form-control input-lg" id="password"><br>
                </div>
                <div class="checkbox">
                    <label for="remember-me" id="rememberme-label">
                        <input type="checkbox" id="remember-me" data-bind="checked: stayLoggedIn">
                        <span>Manter sessão iniciada</span>
                    </label>
                    <button type="submit" style="float: right; margin-top:10px;">Login</button>
                    <br><br>
                </div>
            </form>
            <a id="password-lost" href="/register">Recuperar palavra-passe</a>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>