<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<div class="well center" style="width: 25%">
    <div class="container">
        <div class="tab-panel hidden-before-binding" style="display: block;">
            <form method="POST" action="/register">
                <div class="form-group">
                    <p>Utilizador</p>
                    <input autofocus="" type="text" class="form-control input-lg" name="username"><br>
                    <p>Palavra-passe</p>
                    <input type="password" class="form-control input-lg" name="password"><br>
                    <button type="submit" style="float: right; margin-top:10px;"
                            onclick="window.location.href='/login'">Submeter
                    </button>
                    <br><br>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>